    <%= link_to product_path(product.id), class:'product', 'data-turbo-frame': '_top'  do %>
            <h2><%= product.title %> </h2>
           <div>
               <%= image_tag product.photo, class: "img-fluid", width: 100 if product.photo.attached?%>
            </div>
            <h3><%= product.price %> $</h3>
    <% end %>